.darkBgPattern {
  background: linear-gradient(transparent 40%, #121212), url("../../public/grid_dark.svg") 0 0 repeat;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 120vh;
}

.lightBgPattern {
  background: linear-gradient(transparent 40%, #ececf3), url("../../public/grid_light.svg") 0 0 repeat;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 120vh;
}