.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.avatar_container {
  width: 310px;
  height: 310px;
  /* top: 190px; */
  /* right: 190px; */
  display: flex;
  position: absolute;
  right: 0;
  top: 0;

}